article.photo-added {
  h3 {
    margin-top: 1em;
    margin-bottom: 20px;
  }
  footer {
    margin-top: 10px;
    span.article-byline {
      margin-bottom: 10px;
      .author {
        display: none;
      }
    }
  }
  header {
    margin-bottom: 0;
    a {
      vertical-align: top;
    }
    span.article-byline {
      margin-bottom: 10px;
      display: block;
      .author {
        a {
          white-space: nowrap;
          img {
            padding-right: 0.5em;
          }
          .icon-user {
            display: none;
          }
          display: inline-block;
          font-size: 22px;
          color: #29CC71;
        }
        .bio {
          font-size: 18px;
        }
        img {
          float: left;
          height: 50px;
        }
      }
    }
    h1 {
      margin-bottom: 20px;
    }
  }
  div.body>p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .post .big-thumb {
    margin-bottom: 25px;
    width: 100%;
    float: initial;
    max-width: initial;
    * {
      position: initial !important;
      padding-bottom: 0 !important;
    }
    img {
      width: 100% !important;
      height: initial !important;
    }
  }
  .shareaholic-canvas:before {
    padding: 13px;
  }
  .shareaholic-canvas {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: box;
    margin-bottom: 10px;
    .shareaholic-share-buttons-container.wrapped .shareaholic-ui {
      display: block;
      ul.shareaholic-share-buttons {
        margin-bottom: 0 !important;
      }
    }
  }
}