article.photo-added {
  h3 {
    margin-top: 1em;
  }
  footer span.article-byline .author {
    display: none;
  }
  header {
    a {
      vertical-align: top;
    }
    span.article-byline {
      display: block;
      .author {
        a {
          white-space: nowrap;
          img {
            padding-right: 0.5em;
          }
          .icon-user {
            display: none;
          }
          display: inline-block;
          font-size: 22px;
          color: #29CC71;
        }
        .bio {
          font-size: 18px;
        }
        img {
          float: left;
          height: 50px;
        }
      }
    }
  }
  .post header .big-thumb {
    width: 100%;
  }
  .post .excerpt-thumb.big-thumb {
    float: initial;
    width: 100%;
    max-width: initial;
    * {
      position: initial !important;
      padding-bottom: 0 !important;
    }
    img {
      width: 100% !important;
      height: initial !important;
    }
  }
  .shareaholic-canvas:before {
      padding: 13px;
  }
  .shareaholic-canvas {
    display: -webkit-box;
    .shareaholic-share-buttons-container.wrapped .shareaholic-ui {
      display: block;
      ul.shareaholic-share-buttons {
        margin-bottom: 0 !important;
      }
    }
  }
}