// gallery hover click title by cregox.com
div.sqs-block-gallery {
  z-index: 1;
}
span#gallery-background-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: url('magnifier52.png') 15 15, crosshair; // url might need to be updated!
}
span#gallery-hover-click-styles {
  &.remove-self {
    display: none;
  }
  span.fa-stack {
    position: absolute;
    top: 0;
    right: 0;
    .fa-inverse {
      color: black;
    }
  }
  .gallery-hover-title {
    cursor: pointer;
  }
  .list {
    z-index: 2;
  }
  .hover, .click {
    z-index: 50;
    display: block;
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 0;
    .meta {
      width: auto;
      max-width: 400px;
      color: black;
      padding: 20px;
      h3 {
        color: black;
        font-size: 16px !important;
        font-weight: bold;
        text-transform: none;
      }
    }
    img {
      width: 100%;
      height: 222px;
    }
  }
  .hover {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    cursor: url('magnifier52.png') 15 15, crosshair; // url might need to be updated!
    width: 100%;
  }
  .click {
    cursor: url('cross105.png') 15 15, crosshair; // url might need to be updated!
    height: auto;
    width: auto;
    max-width: 100%;
    min-width: 80%;
  }
}